<!DOCTYPE html>
<html lang="tr">
<head>
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-C5M9586SJQ"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments);}
        gtag('js', new Date());
        gtag('config', 'G-C5M9586SJQ');
    </script>

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/styles.css">
    <title><%= title %></title>

    <meta name="title" content="<%= title %>" />
    <meta name="description" content="75YAL Mezunlari icin 75YAL Yıllık. Anıları ve fotoğrafları ücretsiz bir şekilde paylaşmak için tasarlanmıştır. Ayrıca, mezunlar ile sosyal medya bağlantıları ile kolay bir şekilde bağlantı kurabilirsiniz." />

    <!-- Open Graph / Facebook -->
    <meta property="og:type" content="website" />
    <meta property="og:url" content="https://yillik75.com.tr/" />
    <meta property="og:site_name" content="Yillik75" />
    <meta property="og:title" content="<%= title %>" />
    <meta property="og:description" content="75YAL Mezunlari icin 75YAL Yıllık. Anıları ve fotoğrafları ücretsiz bir şekilde paylaşmak için tasarlanmıştır. Ayrıca, mezunlar ile sosyal medya bağlantıları ile kolay bir şekilde bağlantı kurabilirsiniz." />
    <meta property="og:image" content="/favicon-96x96.png" />

    <!-- Twitter -->
    <meta name="twitter:card" content="summary_large_image" />
    <meta name="twitter:url" content="https://yillik75.com.tr/" />
    <meta name="twitter:domain" content="yillik75.com.tr" />
    <meta name="twitter:title" content="<%= title %>" />
    <meta name="twitter:description" content="75YAL Mezunlari icin 75YAL Yıllık. Anıları ve fotoğrafları ücretsiz bir şekilde paylaşmak için tasarlanmıştır. Ayrıca, mezunlar ile sosyal medya bağlantıları ile kolay bir şekilde bağlantı kurabilirsiniz." />
    <meta name="twitter:image" content="/favicon-96x96.png" />
    <meta name="twitter:image:alt" content="Yıllık75" />
    

    <link rel="icon" type="image/png" href="/favicon-96x96.png" sizes="96x96" />
    <link rel="icon" type="image/x-icon" href="/favicon.ico">
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <link rel="shortcut icon" href="/favicon.ico" />
    <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png" />
    <meta name="apple-mobile-web-app-title" content="Yıllık75" />
    <link rel="manifest" href="/site.webmanifest" />

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap" rel="stylesheet">
</head>
<body>
    <header>
        <div class="navbar">
            <a href="/"><h1>Yıllık75</h1></a>
            <form action="/search" method="get" class="mezun-search">
                <input type="text" name="q" placeholder="Ad, Numara veya Instagram" required>
                <button type="submit">Ara</button>
            </form>
            <nav>
                <ul>
                    <li><a href="/">Ana Sayfa</a></li>
                    <li><a href="/hakkinda">Hakkında</a></li>
                    <li><a href="https://instagram.com/yillik75">Instagram</a></li>
                </ul>
            </nav>
        </div>
    </header>
    <div class="breadcrumb">
        <a href="/">Ana Sayfa</a>
        <span></span>
    </div>
    <main>
        <section class="intro">
            <h1>Yıllık 75</h1>
            <p>75YAL Mezunlarının anılarını, fotoğraflarını ve arkadaşlarının yorumlarını keşfedin.</p>
        </section>
        <section class="content">
            <h2>Mezuniyet Yılları</h2>
            <div class="cards">
                <% years
                    .slice()
                    .sort((a, b) => b.year - a.year)
                    .forEach(year => { %>
                    <div class="card">
                        <a href="/mezunlar/<%= year.year %>">
                            <img src="<%= year.image %>" alt="<%= year.year %> Mezunları">
                            <h4><%= year.year %> Mezunları</h4>
                        </a>
                    </div>
                <% }); %>
            </div>
        </section>
    </main>
    <div class="content">
        <div class="cards">
            <div class="card">
                <a href="https://papara.com/donate/Runterya" target="_blank">
                    <h4>Papara ile Bağış Yap!</h4>
                </a>
            </div>
            <div class="card">
                <a href="https://ouo.io/rwI239K">
                    <h4>Link Geçerek Destek Ol!</h4>
                </a>
            </div>
        </div>
    </div>

    <dialog id="first-visit">
        <p>Yıllığımızı ilk ziyaret edişiniz, hoşgeldiniz!</p>
        <p>Öncelikle bu projeye okulumuz tarafından izin verilmiştir. </p>
        <p>Bu internet sitesi, 75YAL mezunlarının anılarını ve fotoğraflarını ücretsiz bir şekilde paylaşması için tasarlanmıştır. Ayrıca, mezunlar ile sosyal medya bağlantıları ile kolay bir şekilde bağlantı kurabilirsiniz.</p>
        <br>
        <p>Kendinizi ekletmek için bize instagram adresimizden <a href="https://instagram.com/yillik75">(@yillik75)</a> ulaşın.</p>
        <br>
        <p>Lütfen daha fazla bilgi için <a href="/hakkinda">/Hakkında</a> sayfasını göz atın edin.</p>
        <button onclick="closeFirstVisit()">Kapat</button>
    </dialog>
    <script src="/script.js"></script>
</body>
</html>
